iss02.flow
[{"id":"995b7277.5fd8","type":"template","z":"c69a6953.6a7a08","name":"Space Station Tracker","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"<!DOCTYPE html>\n<html>\n    <head>\n        <title>Realtime ISS</title>\n        <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\" />\n        <style type=\"text/css\">\n            html { height: 100% }\n            body { height: 100%; margin: 0; padding: 0 }\n            #map { height: 100% }\n        </style>\n        <script type=\"text/javascript\" src=\"//maps.googleapis.com/maps/api/js?key=AIzaSyAFLoXS1lPMv75OISOZ0GujwAhH1LPlJP4&sensor=false\"></script>\n        <script src=\"//googlemaps.github.io/js-map-label/src/maplabel-compiled.js\"></script>\n        <script src=\"//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js\"></script>\n        <script type=\"text/javascript\">\n            var map, marker, last_latlng;\n\n            function init() {\n                var latlng = new google.maps.LatLng(43.7081784,-79.4609571);//51.48931, -0.08819);\n                var mapOptions = { center: latlng, zoom: 2, mapTypeId: google.maps.MapTypeId.TERRAIN, //zoomControl: true, scaleControl: true}\n          \n           mapTypeControl: true,\n          mapTypeControlOptions: {\n              style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,\n              position: google.maps.ControlPosition.TOP_CENTER\n          },\n          zoomControl: true,\n          zoomControlOptions: {\n              position: google.maps.ControlPosition.LEFT_CENTER\n          },\n          scaleControl: true,\n          streetViewControl: true,\n          streetViewControlOptions: {\n              position: google.maps.ControlPosition.LEFT_TOP\n          },\n          fullscreenControl: true\n                }\n\n\n                map = new google.maps.Map(document.getElementById(\"map\"), mapOptions);\n                infoWindow = new google.maps.InfoWindow();\n                maxZoomService = new google.maps.MaxZoomService();\n              //  map.addListener('click', showMaxZoom);\n\n\n                marker = new google.maps.Marker({ position: latlng, map: map, title: \"Lat:\"+latlng, icon: 'https://raw.githubusercontent.com/picklepete/iss/master/saticon.gif' });\n    //aquator\n    \n    \n       var rectangle = new google.maps.Rectangle({\n       strokeColor: '#0000FF',\n       strokeOpacity: 0.8,\n       strokeWeight: 2,\n       fillColor: '#ffffff',\n       fillOpacity: 0.35,\n       map: map,\n       bounds: new google.maps.LatLngBounds(\n       new google.maps.LatLng(0, 90),\n       new google.maps.LatLng(0, 0))\n     });\n     \n    b1tlx= 85.03568516\n    b1tly= -150.734375\n    b1brx= -60.2679967\n    b1bry= -120.90625\n    var rectangle = new google.maps.Rectangle({\n       strokeColor: '#FF0000',\n       strokeOpacity: 0.8,\n       strokeWeight: 2,\n       fillColor: '#ffffff',\n       fillOpacity: 0.35,\n       map: map,\n       bounds: new google.maps.LatLngBounds(\n       new google.maps.LatLng(b1tlx, b1tly),\n       new google.maps.LatLng(b1brx, b1bry))\n     });\n     \n       var mapLabel = new MapLabel({\n          text: 'BOX 1',\n          position: new google.maps.LatLng(b1brx, b1bry),\n          map: map,\n          fontSize: 15,\n          align: 'top'\n        });\n     //   mapLabel.set('position', new google.maps.LatLng(34.03, -118.235));\n        \n    b2tlx= 85.03568516\n    b2tly= -100.734375\n    b2brx= -60.2679967\n    b2bry= -70.90625\n   \n  var rectangle1 = new google.maps.Rectangle({\n       strokeColor: '#FF0000',\n       strokeOpacity: 0.8,\n       strokeWeight: 2,\n       fillColor: '#ffffff',\n       fillOpacity: 0.35,\n       map: map,\n       bounds: new google.maps.LatLngBounds(\n       new google.maps.LatLng(b2tlx, b2tly),\n       new google.maps.LatLng(b2brx, b2bry))\n     });\n     \n       var mapLabel = new MapLabel({\n          text: 'BOX 2',\n          position: new google.maps.LatLng(b2brx, b2bry),\n          map: map,\n          fontSize: 15,\n          align: 'top'\n        });\n\n   \n  var rectangle2 = new google.maps.Rectangle({\n       strokeColor: '#FF0000',\n       strokeOpacity: 0.8,\n       strokeWeight: 2,\n       fillColor: '#ffffff',\n       fillOpacity: 0.35,\n       map: map,\n       bounds: new google.maps.LatLngBounds(\n       new google.maps.LatLng(85.03568516, -50.734375),\n       new google.maps.LatLng(-60.2679967,-10.90625))\n     });\n   \n       var mapLabel = new MapLabel({\n          text: 'BOX 3',\n          position: new google.maps.LatLng(-60.2679967,-10.90625),\n          map: map,\n          fontSize: 15,\n          align: 'top'\n        });\n\n\n     var rectangle3 = new google.maps.Rectangle({\n       strokeColor: '#FF0000',\n       strokeOpacity: 0.8,\n       strokeWeight: 2,\n       fillColor: '#ffffff',\n       fillOpacity: 0.35,\n       map: map,\n       bounds: new google.maps.LatLngBounds(\n       new google.maps.LatLng(85.03568516, 10),\n       new google.maps.LatLng(-60.2679967, 40))\n     });\n     \n     \n       var mapLabel = new MapLabel({\n          text: 'BOX 4',\n          position: new google.maps.LatLng(-60.2679967, 40),\n          map: map,\n          fontSize: 15,\n          align: 'top'\n        });\n\n\n          var rectangle4 = new google.maps.Rectangle({\n       strokeColor: '#FF0000',\n       strokeOpacity: 0.8,\n       strokeWeight: 2,\n       fillColor: '#ffffff',\n       fillOpacity: 0.35,\n       map: map,\n       bounds: new google.maps.LatLngBounds(\n       new google.maps.LatLng(85, 90),\n       new google.maps.LatLng(-60, 130))\n     }); \n     \n       \n       var mapLabel = new MapLabel({\n          text: 'BOX 5',\n          position: new google.maps.LatLng(-60, 130),\n          map: map,\n          fontSize: 15,\n          align: 'top'\n        });\n         \n            }\n            google.maps.event.addDomListener(window, 'load', init);\n\n\n\n           function showMaxZoom(e) {\n             maxZoomService.getMaxZoomAtLatLng(e.latLng, function(response) {\n               if (response.status !== google.maps.MaxZoomStatus.OK) {\n                 infoWindow.setContent('Error in MaxZoomService');\n               } else {\n                 infoWindow.setContent(\n                     'The maximum zoom at this location is: ' + response.zoom);\n               }\n               infoWindow.setPosition(e.latLng);\n               infoWindow.open(map);\n             });\n           }\n            function draw_flight_path(latlng) {\n                if(last_latlng == undefined) {\n                    last_latlng = latlng;\n                }\n                flight_path = new google.maps.Polyline({\n                    path: [last_latlng, latlng],\n                    strokeColor: \"#FFFF00\",\n                    strokeOpacity: 1.0,\n                    strokeWeight: 2\n                });\n                last_latlng = latlng;\n                flight_path.setMap(map);\n            };\n\n            function get_latest_position() {\n                $.getJSON('http://open-notify-api.herokuapp.com/iss-now.json?callback=?', function(data, status) {\n                    position = data.iss_position;\n var latlng = new google.maps.LatLng(position.latitude, position.longitude);\n// $.getJSON('https://api.wheretheiss.at/v1/satellites/25544/', function(data, status) {\n\n                    var latlng = new google.maps.LatLng(position.latitude, position.longitude);\n                    map.setCenter(latlng);\n                    marker.setPosition(latlng);\n                    marker.setTitle(\"Position: \"+latlng);\n                    var mycon = \"ISSI<br>Lat:\"+position.latitude+\"<br>Long\"+ position.longitude\n                    var myinfowindow = new google.maps.InfoWindow({\n                        content: mycon\n                    });\n marker.addListener('click', function() {\n    myinfowindow.open(map, marker);\n  });\n\n                    draw_flight_path(latlng);\n                    \n                });\n            };\n            setInterval(get_latest_position, 5000);\n        </script>\n    </head>\n    <body>\n        <div id=\"map\"/>\n    </body>\n</html>\n","output":"str","x":360,"y":100,"wires":[["42019edc.8373b"]]},{"id":"4ba52d37.cdb7b4","type":"http in","z":"c69a6953.6a7a08","name":"","url":"/iss","method":"get","upload":false,"swaggerDoc":"","x":143.5,"y":99.25,"wires":[["995b7277.5fd8"]]},{"id":"42019edc.8373b","type":"http response","z":"c69a6953.6a7a08","name":"","statusCode":"","headers":{},"x":570,"y":100,"wires":[]},{"id":"93c5eccf.8f115","type":"http request","z":"c69a6953.6a7a08","name":"","method":"GET","ret":"obj","url":"http://open-notify-api.herokuapp.com/iss-now.json","tls":"","x":330,"y":180,"wires":[["a0e8811a.fec6","f0c9ba31.9595f8","f4990387.d18f4","87b5eb6.2774818"]]},{"id":"a0e8811a.fec6","type":"debug","z":"c69a6953.6a7a08","name":"IssiPos","active":false,"console":"false","complete":"payload","x":320,"y":140,"wires":[]},{"id":"f7de65a4.b59b48","type":"inject","z":"c69a6953.6a7a08","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"x":150,"y":180,"wires":[["93c5eccf.8f115"]]},{"id":"c8c0c8.9dd72f38","type":"ui_template","z":"c69a6953.6a7a08","group":"b71f0b32.91dd38","name":"map","order":0,"width":"15","height":"11","format":"<div >\n<iframe src=\"/iss\" height=600 width=800>\n  <p>Your browser does not support iframes.</p>\n</iframe>\n</div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":570,"y":60,"wires":[[]]},{"id":"f0c9ba31.9595f8","type":"function","z":"c69a6953.6a7a08","name":"DisplayLat","func":"\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":200,"wires":[["254a0be0.7d0cc4","b506a6f9.c887c8"]]},{"id":"254a0be0.7d0cc4","type":"ui_text","z":"c69a6953.6a7a08","group":"d3a3535d.9acde","order":1,"width":0,"height":0,"name":"","label":"latitude","format":"{{msg.payload.iss_position.latitude}}","layout":"row-spread","x":760,"y":180,"wires":[]},{"id":"b506a6f9.c887c8","type":"ui_text","z":"c69a6953.6a7a08","group":"d3a3535d.9acde","order":2,"width":0,"height":0,"name":"","label":"longitude","format":"{{msg.payload.iss_position.longitude}}","layout":"row-spread","x":760,"y":220,"wires":[]},{"id":"a8f8b252.ce375","type":"ui_gauge","z":"c69a6953.6a7a08","name":"","group":"58c4c17d.57b4","order":0,"width":"5","height":"3","gtype":"gage","title":"Blue","label":"units","format":"{{value}}","min":0,"max":"255","colors":["#7e959a","#6f7dc9","#530dbb"],"seg1":"","seg2":"","x":1290,"y":760,"wires":[]},{"id":"5fb1edde.b7b064","type":"ui_gauge","z":"c69a6953.6a7a08","name":"","group":"58c4c17d.57b4","order":0,"width":"5","height":"3","gtype":"gage","title":"Green","label":"units","format":"{{value}}","min":0,"max":"255","colors":["#7e959a","#73bc78","#21ac1b"],"seg1":"","seg2":"","x":1290,"y":720,"wires":[]},{"id":"94cfb1cf.db7b","type":"ibmiot in","z":"c69a6953.6a7a08","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"playbulb00","applicationId":"","deviceType":"+","eventType":"ping","commandType":"","format":"json","name":"FromPiCandle","service":"registered","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allEvents":false,"allCommands":false,"allFormats":true,"qos":"0","x":770,"y":720,"wires":[["827942f.9855ec","aaf14e2.a28a1b","916e893e.b304a8","aecfd673.a595a8","64920a1e.1d9f24","47f13013.9da41"]]},{"id":"87b5eb6.2774818","type":"function","z":"c69a6953.6a7a08","name":"CheckArea","func":"//Lat = Y Long = X\n/*\nbb is the bounding box, (ix,iy) are its top-left coordinates, and (ax,ay) its bottom-right coordinates. p is the point and (x,y) its coordinates.\n*/\nfunction checkPos(lat,lon,topleftlat,topleftlon,bottomrightlat,bottomrightlon,box)\n{\n    msg.inbox = box;\n  \n  //  node.warn(\"X topleftlon \"+topleftlon+\"  <= lon \"+lon+ \" res = \"+(   topleftlon <= lon   ))\n  //  node.warn(\"X lon \"+lon+\"  <= bottomrightlon \"+bottomrightlon+ \" res = \"+(  lon <= bottomrightlon)  )\n\nif( topleftlon <= lon && lon <= bottomrightlon ) {\n    // Point is in bounding box\n\n \n //node.warn(\" ISS in the area (\"+box+\").. candle ON\")  \nreturn true;\n\n}else{\n// node.warn(\"ISS not in the area  (\"+box+\")... candle OFF\")  \n return  false;\n\n\n}\nreturn  false;\n}\n\n \nmsg.latitude = msg.payload.iss_position.latitude;\nmsg.longitude = msg.payload.iss_position.longitude;\n\n  r0LatTl= 85\n  r0LngTl=-150\n\n  r0LatBr= -60\n  r0LngBr= -120\n\n  r1LatTl=  85\n  r1LngTl=-100.\n\n  r1LatBr= -60\n  r1LngBr= -70\n\n\n  r2LatTl=  85\n  r2LngTl= -50\n\n  r2LatBr= -60\n  r2LngBr= -10\n\n  r3LatTl=  85\n  r3LngTl= 10\n\n  r3LatBr= 85\n  r3LngBr= 40\n  \n  r4LatTl= 85\n  r4LngTl= 90\n\n  r4LatBr= -60\n  r4LngBr= 130\n\n/*\n\nlatitude\n\n-50.50472391191916\n\nlongitude\n\n-126.35910070188285\n\n\n\nlatitude = -50.5047239119191\n\nlongitude= -126.35910070188285\n\nmsg.inarea = false;\n node.warn(\"check\")\nres =checkPos(latitude ,longitude,r0LatTl,r0LngTl,r0LatBr,r0LngBr,\"box 1\");\nmsg.inarea = res;\nif(res)\n    return msg;\n  */  \n\nmsg.inarea = false;\nres =checkPos(msg.latitude ,msg.longitude,r0LatTl,r0LngTl,r0LatBr,r0LngBr,\"box1\");\nmsg.inarea = res;\nif(res)\n    return msg;\n\n\nres =checkPos(msg.latitude ,msg.longitude,r1LatTl,r1LngTl,r1LatBr,r1LngBr,\"box 2\");\nmsg.inarea = res;\nif(res)\n    return msg;\n    \n \nres =checkPos(msg.latitude ,msg.longitude,r2LatTl,r2LngTl,r2LatBr,r2LngBr,\"box 3\");\nmsg.inarea = res;\nif(res)\n    return msg;   \n\nres =checkPos(msg.latitude ,msg.longitude,r3LatTl,r3LngTl,r3LatBr,r3LngBr,\"box 4\");\nmsg.inarea = res;\nif(res)\n    return msg;   \n\n\nres =checkPos(msg.latitude ,msg.longitude,r4LatTl,r4LngTl,r4LatBr,r4LngBr,\"box 5\");\nmsg.inarea = res;\nif(res)\n    return msg; \n    \nmsg.inbox = \"No\";    \nreturn msg;","outputs":1,"noerr":0,"x":230,"y":360,"wires":[["66f976b3.459378","2bf35e13.347fd2","ca241cb3.cddd5"]]},{"id":"20382d30.90bdd2","type":"e-mail","z":"c69a6953.6a7a08","server":"smtp.gmail.com","port":"465","secure":true,"name":"yourmail@gmail.com , mvk4ibm@gmail.com","dname":"","x":1270,"y":360,"wires":[]},{"id":"91490f09.c2a23","type":"function","z":"c69a6953.6a7a08","name":"IfIss is in Area send email","func":"\n    msg.topic = \"ISS update for YOU\"\n    msg.payload= \"Hello from Node-RED ISS is in Area with the SPEED of x Km/H and traveled  \"+global.get(\"distance\")+ \" km\";\n    return msg;","outputs":1,"noerr":0,"x":930,"y":360,"wires":[["20382d30.90bdd2","34d4c399.26d53c"]]},{"id":"6d593a0e.63b144","type":"inject","z":"c69a6953.6a7a08","name":"Send Email","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":930,"y":420,"wires":[["91490f09.c2a23"]]},{"id":"34d4c399.26d53c","type":"debug","z":"c69a6953.6a7a08","name":"email","active":false,"console":"false","complete":"true","x":1150,"y":420,"wires":[]},{"id":"cfca698.fe1d198","type":"delay","z":"c69a6953.6a7a08","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":160,"y":520,"wires":[["ea6698b3.9fce28"]]},{"id":"2e4f3b9c.1487e4","type":"ibmiot out","z":"c69a6953.6a7a08","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"playbulb00","deviceType":"playbulb","eventCommandType":"setColor","format":"json","data":"msg.payload","qos":0,"name":"toPiCandle","service":"registered","x":690,"y":520,"wires":[]},{"id":"bfcba43e.f26248","type":"comment","z":"c69a6953.6a7a08","name":"Check the Code below","info":"","x":240,"y":320,"wires":[]},{"id":"f9756430.d88df8","type":"comment","z":"c69a6953.6a7a08","name":"IssWebPage","info":"","x":327.2222222222222,"y":57.5,"wires":[]},{"id":"e26bc4d3.739408","type":"comment","z":"c69a6953.6a7a08","name":"#2 Use Your GMAIL account","info":"","x":1220,"y":320,"wires":[]},{"id":"224144b.53a67bc","type":"inject","z":"c69a6953.6a7a08","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160,"y":560,"wires":[["ea6698b3.9fce28"]]},{"id":"38ccb1ca.bb79ce","type":"comment","z":"c69a6953.6a7a08","name":"#1 Adjust the candle number","info":"","x":960,"y":460,"wires":[]},{"id":"6ce3349f.b7de9c","type":"comment","z":"c69a6953.6a7a08","name":"#1 Adjust the candle number","info":"","x":780,"y":680,"wires":[]},{"id":"827942f.9855ec","type":"debug","z":"c69a6953.6a7a08","name":"InComing","active":false,"console":"false","complete":"payload","x":760,"y":780,"wires":[]},{"id":"aaf14e2.a28a1b","type":"function","z":"c69a6953.6a7a08","name":"Red","func":"var newmsg ={}\nnewmsg.payload = msg.payload.candleRR\nnewmsg.topic =\"Red\";\nreturn newmsg;","outputs":1,"noerr":0,"x":1090,"y":680,"wires":[["ea506e13.dc575"]]},{"id":"916e893e.b304a8","type":"function","z":"c69a6953.6a7a08","name":"Green","func":"msg.payload = msg.payload.candleGG\nmsg.topic =\"Green\";\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":720,"wires":[["5fb1edde.b7b064"]]},{"id":"aecfd673.a595a8","type":"function","z":"c69a6953.6a7a08","name":"Blue","func":"msg.payload = msg.payload.candleBB\nmsg.topic =\"Blue\";\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":760,"wires":[["a8f8b252.ce375"]]},{"id":"ea506e13.dc575","type":"ui_gauge","z":"c69a6953.6a7a08","name":"","group":"58c4c17d.57b4","order":0,"width":"5","height":"3","gtype":"gage","title":"Red","label":"units","format":"{{value}}","min":0,"max":"255","colors":["#7e959a","#bcb489","#ac0c19"],"seg1":"","seg2":"","x":1290,"y":680,"wires":[]},{"id":"a2fa54d0.539178","type":"function","z":"c69a6953.6a7a08","name":"setCandle=OFF","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":0,\n\"speed1\":0,\n\"speed2\":0,\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 0\n    \n}\nmsg.eventOrCommandType = \"setColor\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":440,"wires":[["2e4f3b9c.1487e4","68956b91.b03b34"]]},{"id":"ec5fee60.068cc","type":"function","z":"c69a6953.6a7a08","name":"setCandle=Red","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":0,\n\"speed1\":0,\n\"speed2\":0,\n\"rr\" : 255,\n\"gg\" : 0,\n\"bb\" : 0\n    \n}\nmsg.eventOrCommandType = \"setColor\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":500,"wires":[["2e4f3b9c.1487e4"]]},{"id":"c669c8fb.856248","type":"function","z":"c69a6953.6a7a08","name":"setCandle=Blue","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":0,\n\"speed1\":0,\n\"speed2\":0,\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 255\n    \n}\nmsg.eventOrCommandType = \"setColor\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":640,"wires":[["2e4f3b9c.1487e4"]]},{"id":"11a89c6e.5c07c4","type":"inject","z":"c69a6953.6a7a08","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160,"y":600,"wires":[["c669c8fb.856248"]]},{"id":"ea6698b3.9fce28","type":"function","z":"c69a6953.6a7a08","name":"setCandle=Green","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":0,\n\"speed1\":0,\n\"speed2\":0,\n\"rr\" : 0,\n\"gg\" : 255,\n\"bb\" : 0\n    \n}\nmsg.eventOrCommandType = \"setColor\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":540,"wires":[["2e4f3b9c.1487e4"]]},{"id":"3454fdbe.09c6f2","type":"comment","z":"c69a6953.6a7a08","name":"#3 Check email text","info":"","x":910,"y":320,"wires":[]},{"id":"66f976b3.459378","type":"switch","z":"c69a6953.6a7a08","name":"In Area ?","property":"inarea","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","outputs":2,"x":420,"y":360,"wires":[["cfca698.fe1d198","6e3642c.01a74bc","ec5fee60.068cc","c728abba.6a2ab8"],["a2fa54d0.539178"]]},{"id":"6e3642c.01a74bc","type":"delay","z":"c69a6953.6a7a08","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":660,"y":360,"wires":[["91490f09.c2a23"]]},{"id":"68956b91.b03b34","type":"debug","z":"c69a6953.6a7a08","name":"Not in area","active":true,"console":"false","complete":"true","x":690,"y":440,"wires":[]},{"id":"2bf35e13.347fd2","type":"debug","z":"c69a6953.6a7a08","name":"Check","active":false,"console":"false","complete":"payload","x":210,"y":420,"wires":[]},{"id":"97546c32.f6823","type":"ui_text","z":"c69a6953.6a7a08","group":"d3a3535d.9acde","order":4,"width":0,"height":0,"name":"","label":"In Area?","format":"{{msg.inbox}}","layout":"row-spread","x":760,"y":280,"wires":[]},{"id":"ca241cb3.cddd5","type":"function","z":"c69a6953.6a7a08","name":"InBox","func":"msg.inbox = msg.inbox.toUpperCase();\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":280,"wires":[["97546c32.f6823"]]},{"id":"b9d12b8f.054438","type":"function","z":"c69a6953.6a7a08","name":"setCandle=OFF","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":0,\n\"speed1\":0,\n\"speed2\":0,\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 0\n    \n}\nmsg.eventOrCommandType = \"setColor\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":760,"wires":[["2e4f3b9c.1487e4"]]},{"id":"ed30ac3.730955","type":"ui_button","z":"c69a6953.6a7a08","name":"","group":"d3a3535d.9acde","order":6,"width":0,"height":0,"passthru":false,"label":"Turn Candle Off","color":"","bgcolor":"","icon":"","payload":"\"off\"","payloadType":"str","topic":"","x":176.875,"y":800.625,"wires":[["b9d12b8f.054438"]]},{"id":"c728abba.6a2ab8","type":"debug","z":"c69a6953.6a7a08","name":"In Area","active":true,"console":"false","complete":"true","x":560,"y":320,"wires":[]},{"id":"64920a1e.1d9f24","type":"function","z":"c69a6953.6a7a08","name":"Counter","func":"var newmsg ={}\nnewmsg.payload = msg.payload.value\nreturn newmsg;","outputs":1,"noerr":0,"x":1100,"y":620,"wires":[["a17081f8.d7543"]]},{"id":"a17081f8.d7543","type":"ui_text","z":"c69a6953.6a7a08","group":"58c4c17d.57b4","order":5,"width":0,"height":0,"name":"","label":"Counter","format":"{{msg.payload}}","layout":"row-spread","x":1300,"y":620,"wires":[]},{"id":"f4990387.d18f4","type":"function","z":"c69a6953.6a7a08","name":"Sale LatLong","func":"\nmsg.latitude = msg.payload.iss_position.latitude;\nmsg.longitude = msg.payload.iss_position.longitude;\n//msg.payload = []//\n//msg.payload =msg.latitude;\n//msg.topic=\"Lat\";\nnode.send(msg)\nmsg.topic=\"Lon\";\nmsg.payload =msg.longitude;\n//msg.payload[1] =msg.longitude;\n//\"\"+msg.latitude+\",\"+msg.longitude;\nglobal.set(\"oldlatitude\",global.get(\"latitude\"));\nglobal.set(\"oldlongitude\",global.get(\"longitude\"));\n\nglobal.set(\"latitude\",msg.latitude)\nglobal.set(\"longitude\",msg.longitude)\n\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":160,"wires":[["da973c8f.e9cfe","65ae01ce.6dbac"]]},{"id":"47f13013.9da41","type":"function","z":"c69a6953.6a7a08","name":"Time","func":"function unixTime(unixtime) {\n\n    var u = new Date(unixtime);\n\n      return u.getUTCFullYear() +\n        '-' + ('0' + u.getUTCMonth()).slice(-2) +\n        '-' + ('0' + u.getUTCDate()).slice(-2) + \n        ' ' + ('0' + u.getUTCHours()).slice(-2) +\n        ':' + ('0' + u.getUTCMinutes()).slice(-2) +\n        ':' + ('0' + u.getUTCSeconds()).slice(-2) +\n        '.' + (u.getUTCMilliseconds() / 1000).toFixed(3).slice(2, 5) \n    };\n    var newmsg ={}\nnewmsg.payload = unixTime(parseInt(msg.payload.ts))\nreturn newmsg;","outputs":1,"noerr":0,"x":1090,"y":580,"wires":[["79c25651.afb458"]]},{"id":"79c25651.afb458","type":"ui_text","z":"c69a6953.6a7a08","group":"58c4c17d.57b4","order":5,"width":0,"height":0,"name":"","label":"Msg Time","format":"{{msg.payload}}","layout":"row-spread","x":1300,"y":580,"wires":[]},{"id":"206fae24.fd89a2","type":"ui_button","z":"c69a6953.6a7a08","name":"","group":"d3a3535d.9acde","order":6,"width":0,"height":0,"passthru":false,"label":"Turn Candle Blue","color":"","bgcolor":"","icon":"","payload":"\"off\"","payloadType":"str","topic":"","x":170,"y":700,"wires":[[]]},{"id":"da973c8f.e9cfe","type":"function","z":"c69a6953.6a7a08","name":"Distance","func":"function getDistanceFromLatLonInKm(lat1,lon1,lat2,lon2) {\n  var R = 6371; // Radius of the earth in km\n  var dLat = deg2rad(lat2-lat1);  // deg2rad below\n  var dLon = deg2rad(lon2-lon1); \n  var a = \n    Math.sin(dLat/2) * Math.sin(dLat/2) +\n    Math.cos(deg2rad(lat1)) * Math.cos(deg2rad(lat2)) * \n    Math.sin(dLon/2) * Math.sin(dLon/2)\n    ; \n  var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a)); \n  var d = R * c; // Distance in km\n  return d;\n}\n\nfunction deg2rad(deg) {\n  return deg * (Math.PI/180)\n}\nlat=global.get(\"latitude\");\nlon=global.get(\"longitude\");\nolat=global.get(\"oldlatitude\");\nolon=global.get(\"oldlongitude\");\n\n\ndistance =getDistanceFromLatLonInKm(olat,olon,lat,lon)\n//node.warn(speed)\nmsg.payload = distance.toFixed(2);\nmsg.distance = distance;\nglobal.set(\"distance\",distance);\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":100,"wires":[["b7ac0e00.15c7","9f9dd7a8.0c8608"]]},{"id":"b7ac0e00.15c7","type":"ui_text","z":"c69a6953.6a7a08","group":"d3a3535d.9acde","order":4,"width":0,"height":0,"name":"","label":"Distance in Km( 10Sec)","format":"{{msg.payload}}","layout":"row-spread","x":1010,"y":80,"wires":[]},{"id":"65ae01ce.6dbac","type":"ui_chart","z":"c69a6953.6a7a08","name":"","group":"d3a3535d.9acde","order":0,"width":0,"height":0,"label":"Longitude","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":767.2222222222222,"y":143.88888888888889,"wires":[[],[]]},{"id":"d4b0c7d4.5b5738","type":"ui_text","z":"c69a6953.6a7a08","group":"d3a3535d.9acde","order":4,"width":0,"height":0,"name":"","label":"Speed in Km/H","format":"{{msg.payload}}","layout":"row-spread","x":980,"y":60,"wires":[]},{"id":"9f9dd7a8.0c8608","type":"function","z":"c69a6953.6a7a08","name":"Calulate SPEED","func":"// Home work! Calulate the speed in Km/H of the ISS\n// based on the distance \n//msg.distance = IIS traveld in 10 Sec\n\nmsg.payload = msg.distance * 6 *60;\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":60,"wires":[["d4b0c7d4.5b5738"]]},{"id":"b71f0b32.91dd38","type":"ui_group","z":"","name":"ISS Area","tab":"ad569949.ac53a8","order":1,"disp":true,"width":"12"},{"id":"d3a3535d.9acde","type":"ui_group","z":"","name":"ISS Infos","tab":"ad569949.ac53a8","order":2,"disp":true,"width":"6"},{"id":"58c4c17d.57b4","type":"ui_group","z":"","name":"FromPI","tab":"ad569949.ac53a8","order":3,"disp":true,"width":"6"},{"id":"ad569949.ac53a8","type":"ui_tab","z":"","name":"ISS Area","icon":"dashboard"}]
